# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

**/test_vault_connection.js

**/package-lock.json
*/package-lock.json

**/android
**/ssl
**/ssl
*/ssl

**/android
*/android

**/fullchain.pem
*/fullchain.pem

**/privkey.pem
*/privkey.pem

**/android
*/android

tokens.txt
*/tokens.txt
**/tokens.txt

/android

*.log
log.txt

*.env

**/dist
**/logs

/.sourcemaps
/.versions
/coverage

**/target/
**/node_modules/
**/.angular/

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

/windows
/linux

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

**/EasyDeploy

# Visual Studio Code
**/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/.nx
/.nx/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/.vscode